
<html lang="ru">
<head>
	<link href="style.css" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://unpkg.com/vue"></script>


</head>

<div id="watch-example">
  <p>
    Задайте вопрос, на который можно ответить "да" или "нет":
    <input v-model="question">
  </p>
  <p>{{ answer }}</p>
</div>

	<!-- Поскольку уже существует обширная экосистема ajax-библиотек  -->
<!-- и библиотек функций общего назначения, ядро Vue может        -->
<!-- оставаться маленьким и не изобретать их заново. Кроме того,  -->
<!-- это позволяет вам использовать только знакомые инструменты. -->
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script>
var watchExampleVM = new Vue({
  el: '#watch-example',
  data: {
    question: '',
    answer: 'Пока вы не зададите вопрос, я не могу ответить!'
  },
  watch: {
    // эта функция запускается при любом изменении вопроса
    question: function (newQuestion) {
      this.answer = 'Ожидаю, когда вы закончите печатать...'
      this.getAnswer()
    }
  },
  methods: {
    // _.debounce — это функция из lodash, позволяющая ограничить
    // то, насколько часто может выполняться определённая операция.
    // В данном случае, мы хотим ограничить частоту обращений к yesno.wtf/api,
    // дожидаясь завершения печати вопроса перед тем как послать ajax-запрос.
    // Чтобы узнать больше о функции _.debounce (и её родственнице _.throttle),
    // см. документацию: https://lodash.com/docs#debounce
    getAnswer: _.debounce(
      function () {
        if (this.question.indexOf('?') === -1) {
          this.answer = 'Вопросы обычно заканчиваются вопросительным знаком. ;-)'
          return
        }
        this.answer = 'Думаю...'
        var vm = this
        axios.get('https://yesno.wtf/api')
          .then(function (response) {
            vm.answer = _.capitalize(response.data.answer)
          })
          .catch(function (error) {
            vm.answer = 'Ошибка! Не могу связаться с API. ' + error
          })
      },
      // Это число миллисекунд, которое мы ждём, после того как пользователь прекратил печатать.
      500
    )
  }
})
</script>

<script src="app.js"></script>

</html>