
<html lang="ru">
<head>
	<link href="style.css" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="https://unpkg.com/vue"></script>
</head>

<div id="app">
  {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    Подержи курсор 
  </span>
</div>

<div id="app-3">
  <p v-if="seen">Сейчас меня видно</p>
</div>

<!--директива v-for может быть использована для отображения списков, используя данные из массива-->
<div id="app-4">
  <ol>
    <li v-for="todo in todos"> 
      {{ todo.text }}
    </li>
  </ol>
</div>

<!--Чтобы пользователи могли взаимодействовать с вашим приложением, 
используйте директиву v-on для наблюдения за событиями, указав метод-обработчик-->
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">Обратить порядок букв в сообщении</button>
</div>

<!--Vue также содержит директиву v-model, позволяющую легко связывать элементы форм и состояние приложения-->
<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

<!--div id="app-7">
  <ol>
    <!-- Теперь мы можем передать каждому todo описание задачи, -->
    <!-- то есть отображать данные динамически                  -->
    <!--todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
  </ol>
</div-->

<ul>
<!--создаем экзкмпляр компонента todo-item-->
<todo-item></todo-item>
</ul>

<!--можно передать текст задачи в каждый компонент с помощью v-bind:-->
<div id="app-7">
	<ol>
	 <!--
      Теперь мы можем передать каждому компоненту todo объект
      с информацией о задаче, который будет динамически меняться.
      Мы также определяем для каждого компонента "key",
      значение которого будет объяснено далее в руководстве.
    -->
	<todo-item
	v-for="item in groceryList"
	v-bind:todo="item"
	v-bind:key="item.id">
	</todo-item>
	</ol>
</div>


<script src="app.js"></script>

</html>