
p
{
	color:#0066CC;
	text-align: left;
   font-family:Arial;
   font-size:16px;
   line-height: 2;
   padding: 10px 30px 10px 30px;
}

p1
{
	padding-bottom: 0px;
	padding-left: 100px;
}




.footer{
	clear:left;
	background: #0258A1;
	color: white;
	text-align: right;
	padding: 10px 10px 10px 0;
}

.content img
{
	margin: 50px 100px;
}

.content a1, .content a
{
	display: block;
	margin: 50px 100px;
}

.content a 
{
	margin: 0px 100px;
	color:#0066CC;
   font-family:Arial;
   font-size:14px;
   text-decoration: none; 
   border: 1px #bcbcbc solid;
padding: 10px 5px 10px 20px;
}

.content table
{
	width: 80%; 
	margin: 0 0 0 100; 
	z-index:27;
   }
   td {
    color: #444; /* Цвет текста */
    text-align: left; /* Выравнивание по левому краю */	
   }
   

